@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, a:focus {
  outline: none;
}

:active, a:active {
  outline: none;
}

header, footer, nav {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: var(--text);
}

ul li {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  src: url("/fonts/TTNorms-Bold.woff2") format("woff2");
  font-family: "ttnorms";
  font-weight: 700;
  font-style: normal;
}
:root {
  --accent: #0153FF;
  --text: #111111;
  --bg: #EAECFF;
  --regular-text: 16px;
  --lineheight: 1;
  --userfont: "Inter", sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

body {
  font-family: var(--userfont);
  font-size: var(--regular-text);
  color: var(--text);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
  transition: 1s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  transition: 1s;
}

.header__content {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo span {
  font-family: ttnorms, serif;
  font-size: 22px;
  text-transform: uppercase;
}
.header__menu ul {
  display: flex;
  gap: 50px;
}
.header__link:hover {
  color: var(--accent);
  transition: 0.8s;
}
.header__mobile_close {
  right: 0;
  cursor: pointer;
}
.header__mobile_close img {
  max-width: 27px;
}
.header__mobile_burger {
  display: none;
  height: 27px;
  width: 27px;
  cursor: pointer;
}
.header__mobile_burger span, .header__mobile_burger span:before, .header__mobile_burger span:after {
  background: #000;
  height: 2px;
  width: 27px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.header__mobile_burger span:before,
.header__mobile_burger span:after {
  content: "";
}
.header__mobile_burger span:before {
  left: 0px;
  top: 20px;
  width: 27px;
}
.header__mobile_burger span {
  width: 27px;
}
.header__mobile_burger span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
.header__mobile_menu {
  display: none;
  transition: 0.8s;
  padding: 50px;
  gap: 20px;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  background: #fff;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.header__mobile_menu ul {
  margin: 20px 0;
}

.btn {
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 15px;
}
.btn:hover {
  transition: 0.6s;
}
.btn:active {
  transition: 0.3s;
}
.btn__auth {
  background: var(--accent);
  color: #fff;
}
.btn__auth:hover {
  background: none;
  outline: 1px solid var(--accent);
  color: var(--accent);
}
.btn__auth:active {
  background: var(--accent);
  color: #fff;
}
.btn__hero {
  background: var(--accent);
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 22px 34px;
}
.btn__unic {
  background: #fff;
  color: var(--accent);
  font-weight: bold;
}
.btn__unic:hover {
  background: var(--accent);
  color: #fff;
}
.btn__buyformOne {
  font-size: 20px;
  background: #fff;
  color: var(--accent);
  font-weight: 600;
}
.btn__buyformTwo {
  font-size: 20px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
}

.hero {
  background: var(--bg);
}
.hero__content {
  max-height: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}
.hero__info {
  max-width: 482px;
}
.hero__tag {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent);
  transition: 1s;
}
.hero__title {
  font-size: 38px;
  font-weight: bold;
  transition: 1s;
}
.hero__title span {
  color: var(--accent);
}
.hero__description {
  margin: 20px 0;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 50px;
}
.hero__btn {
  font-size: 20px;
  font-weight: bold;
}
.activity {
  margin: 100px 0;
}
.activity__content {
  display: flex;
  flex-direction: column;
}
.activity__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: ttnorms, serif;
}
.activity__description {
  text-align: center;
  margin-bottom: 30px;
}
.activity__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.activity__block {
  max-width: 304px;
}
.activity__blockBody {
  max-width: 304px;
}
.activity__blockTitle {
  font-size: 20px;
  font-family: ttnorms, serif;
  margin-top: 8px;
  margin-bottom: 5px;
}
.activity__blockDescription {
  font-size: 16px;
}

.unic__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: ttnorms, serif;
  font-weight: bold;
}
.unic__blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.unic__blocks_title {
  font-size: 20px;
  font-family: ttnorms, serif;
  font-weight: bold;
}
.unic__blocks_info {
  margin: 16px 0;
  font-size: 14px;
}
.unic__blocks_info span {
  color: var(--accent);
  font-size: 20px;
  font-family: ttnorms, serif;
}
.unic__blocks_creative {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 730px;
  min-height: 280px;
  padding: 32px 40px;
  background: var(--bg);
  border-radius: 10px;
}
.unic__blocks_creativeInfo {
  margin: 16px 0;
}
.unic__blocks_creativeInfo ul {
  display: flex;
  gap: 35px;
}
.unic__blocks_creativeInfo ul li {
  font-size: 14px;
}
.unic__blocks_creativeInfo ul li span {
  color: var(--accent);
  font-family: ttnorms, serif;
  font-size: 20px;
}
.unic__blocks_creativeDescription {
  font-size: 14px;
  max-width: 448px;
  margin-bottom: 20px;
}
.unic__blocks_bank {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 394px;
  min-height: 280px;
  padding: 32px 40px;
  background: var(--bg);
  border-radius: 10px;
}
.unic__blocks_bankDescription {
  font-size: 14px;
  max-width: 229px;
  margin-bottom: 20px;
}
.unic__blocks_mechanic {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 374px;
  min-height: 280px;
  padding: 32px 40px;
  background: var(--bg);
  border-radius: 10px;
}
.unic__blocks_mechanicDescription {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  max-width: 213px;
  margin-bottom: 20px;
}
.unic__blocks_other {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  min-height: 280px;
  padding: 32px 40px;
  background: var(--bg);
  border-radius: 10px;
}
.unic__blocks_otherDescription {
  font-size: 14px;
  max-width: 395px;
  margin-bottom: 20px;
}

.stats {
  height: 100%;
  background: var(--accent);
  margin-top: 150px;
}
.stats__content {
  min-height: 310px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
}
.stats__title {
  font-family: ttnorms, serif;
  color: #fff;
  font-size: 38px;
  text-align: center;
}
.stats__title span {
  font-size: 64px;
}

.questions {
  margin-top: 150px;
}
.questions__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: ttnorms, serif;
}
.questions__description {
  text-align: center;
  margin-bottom: 30px;
}
.accordion__line {
  border: 1px solid #D9D9D9;
}
.accordion__header {
  display: flex;
  justify-content: space-between;
  padding: 31px;
  cursor: pointer;
}
.accordion__btn {
  width: 25px;
  height: 15px;
}
.accordion__btn1 {
  background: #fff;
}
.accordion__body {
  padding: 0 48px 31px 48px;
  display: none;
  transition: max-height 0.2s ease-out;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.buyform {
  background: var(--accent);
  margin-top: 150px;
}
.buyform__content {
  min-height: 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 50px;
}
.buyform__title {
  font-family: ttnorms, serif;
  text-align: center;
  font-size: 36px;
  color: #fff;
}
.buyform__description {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.buyform__buttons {
  display: flex;
  gap: 32px;
}
.buyform__footer {
  text-align: center;
  font-weight: 600;
  color: #fff;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    transition: 1s;
  }
  .hero__image {
    width: 50%;
  }
  .activity__blocks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
  }
  .unic__blocks_creative {
    max-width: 516px;
  }
  .unic__blocks_other {
    max-width: 536px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    transition: 1s;
  }
  .header__menu {
    display: none;
  }
  .header__auth {
    display: none;
  }
  .header__mobile_burger {
    display: flex;
  }
  .hero__image {
    display: none;
  }
  .unic__blocks_creative {
    max-width: 345px;
  }
  .unic__blocks_creativeInfo ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .unic__blocks_bank {
    max-width: 345px;
  }
  .unic__blocks_bankDescription {
    margin-bottom: 70px;
  }
  .unic__blocks_mechanic {
    max-width: 345px;
  }
  .unic__blocks_mechanicDescription {
    margin-bottom: auto;
  }
  .unic__blocks_other {
    max-width: 345px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    transition: 1s;
  }
  .hero__buttons {
    flex-wrap: wrap;
    gap: 15px;
  }
  .unic__blocks {
    justify-content: center;
  }
  .unic__blocks_bankDescription {
    margin-bottom: 20px;
  }
  .unic__blocks_mechanicDescription {
    margin-bottom: 20px;
  }
}
@media (max-width: 520px) {
  .hero__tag {
    font-size: 32px;
    transition: 1s;
  }
  .hero__title {
    font-size: 32px;
    transition: 1s;
  }
  .hero__btn {
    display: none;
    transition: 0.6s;
  }
}

/*# sourceMappingURL=style.css.map */
