.btn {

  font-size: 18px;

  padding: 15px 30px;
  border-radius: 15px;

  &:hover {
    transition: 0.6s;
  }
  &:active {
    transition: 0.3s;
  }

  &__auth {
    background: var(--accent);
    color: #fff;
  }
  &__auth:hover {
    background: none;
    outline: 1px solid var(--accent);
    color: var(--accent);
  }
  &__auth:active {
    background: var(--accent);
    color: #fff;
  }

  &__hero {
    background: var(--accent);

    color: #fff;
    font-weight: bold;

    display: flex;
    align-items: center;

    gap: 12px;

    padding: 22px 34px;
  }

  &__unic {
    background: #fff;
    color: var(--accent);
    font-weight: bold;
  }

  &__unic:hover {
    background: var(--accent);
    color: #fff;
  }

  &__buyformOne {
    font-size: 20px;
    background: #fff;
    color: var(--accent);

    font-weight: 600;
  }

  &__buyformTwo {
    font-size: 20px;
    background: none;
    border: 2px solid #fff;
    color: #fff;

    font-weight: 600;
  }

}
