.hero {
  background: var(--bg);
  &__content {
    max-height: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
  }

  &__info {
    max-width: 482px;
  }

  &__tag {
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent);

    transition: 1s;
  }

  &__title {
    font-size: 38px;
    font-weight: bold;

    transition: 1s;

    span {
      color: var(--accent);
    }
  }

  &__description {
    margin: 20px 0;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__btn {
    font-size: 20px;
    font-weight: bold;
  }

  &__image {
  }
}