.questions {
  margin-top: 150px;
  &__content {
  }

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: ttnorms, serif;
  }

  &__description {
    text-align: center;
    margin-bottom: 30px;
  }

  &__accordion {
  }
}

.accordion {
  &__line {
    border: 1px solid #D9D9D9;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 31px;
    cursor: pointer;
  }

  &__title {
  }

  &__btn {
    width: 25px;
    height: 15px;
  }

  &__btn1 {
    background: #fff;
  }

  &__body {
    padding: 0 48px 31px 48px;
    display: none;
    transition: max-height 0.2s ease-out;
  }

}

.active {
  display: block;
}

.hidden {
  display: none;
}