.stats {
  height: 100%;
  background: var(--accent);

  margin-top: 150px;
  &__content {
    min-height: 310px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-wrap: wrap;
    gap: 20px;

    padding: 50px;
  }

  &__block {

  }

  &__title {
    font-family: ttnorms, serif;
    color: #fff;
    font-size: 38px;
    text-align: center;
    span {
      font-size: 64px;
    }
  }
}